<%- include('../layouts/header') -%>
<div id="" class="row">
    <h3 class="col-sm-12">Error </h3>
    <a href="/">Regresar</a>
    <div>
        <ul>
            <%= data %>
        </ul>
    </div>
</div>
<%- include('../layouts/footer') -%>